<h2>Usage:</h2>
<p>Use the 'Single' page to lookup a single object. Each additional query will create an extra entry in the list.
  Switching to the Home page or the 'Range' page will clear the list.
</p>
<p>Use the 'Range' page to lookup a range of objects.</p>
<p>In the results list, click on the 'CSV' button to download the results as a comma-separated file.</p>
<p>Right click on any entry in the result list for a context menu. 'Preview' to see the digital document, 'Object' to
  open the document viewer, 'Alma' to open the Alma ID in Alma. The 'Delete' option removes the selected row from the list.
</p>
<p>Clicking on the PID number will also open a new window with the document viewer.</p>
