<h2>Usage:</h2>
<p>Use the 'Single' page to lookup a single object. Each additional query will create an extra entry in the list.
  When navigating away from the page, the list is cleared.
</p>
<p>Use the 'Range' page to lookup a range of objects.</p>
<p>In the results list, click on the 'CSV' icon to download the results as a comma-separated file.</p>
<p>Right click on any entry in the result list for a context menu. 'Preview' to see the digital document, 'Object' to
  open the document viewer, 'Alma' to open the Alma ID in Alma.
</p>
